body{
    font-size: 1.2rem;
    font-weight: 350;
}
 h1 {
  color: #0e00a4;
  margin-top: -10px;
  text-align: center
}
h3, h2, h5, h6 {
    margin-top: 3rem;
    color: chocolate;
}

.h2, h2 {
  font-size: 1.75rem;
}

.h3, h3 {
  font-size: 1.25rem;
}

.navbar {
	display:block
}
#navbar-aikidonantes {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #0e00a4;
    text-align: center;
    font-size: 1.9rem;
    text-align: left;
    margin-top: 10px;
}
.navbar-brand img{
    width:3rem;
}
.navbar-row{
    align-items: center;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/intro-bg3-light2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 3rem;
    color: #0e00a4
}

.section-heading-spacer {
    display: none;
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.contact{
    text-align: center;
} 
.tel, .mail {
    font-size: 1.8rem;
    color: #0e00a4;
}

.tel a {
    text-decoration: underline;
}

.mail a {
    text-decoration: underline;
}

.intro-social-buttons{
    margin-top: 1rem;
}
.copyright {
    text-align: center;
}
small {
    font-style: italic;
}
p {
    text-align: justify;
}
.punchLine{
    text-align: center;
    font-size: 2rem;
    color: chocolate;
    margin-bottom: 2rem;
}

.punchLine2{
    text-align: center;
    font-size: 1.5rem;
    color: chocolate;
    margin-bottom: 2rem;
}

.punchLine3{
    text-align: center;
    font-size: 1.2rem;
    color: chocolate;
    margin-bottom: 2rem;
}

.caption{
    text-align: center;
    font-style: italic;   
}

#aikido-illustration {
    text-align: center
}

#mapdiv {
    height: 500px;
    width: 100%
}

@media screen and (min-width: 600px) {
    h1 {
        text-align: left
    }
    .navbar-brand img {
        width: 4rem;
    }
    #navbar-aikidonantes {
        font-size: 2.7rem;
    }
    #aikido-illustration {
        text-align: left
    }
    #mapdiv {
        height: 100%;
        width: 100%
    }
}

.infoDuMoment {
    color: black;
    text-align:center;
    font-size:1.5rem;
    border-style:solid;
    border-color:#0e00a4;
    border-width:4px;
    margin-right: auto;
    margin-left : auto;
    margin-bottom : 20px
}

.infoDuMoment div {
	margin-bottom : 15px
}

.navbar-light .navbar-nav .nav-link {
	color: #42424B;
}

h2 a {
	color: chocolate
}
